[submodule ".vim/bundle/Gundo"]
	path = .vim/bundle/Gundo
	url = https://github.com/vim-scripts/Gundo.git
	ignore = dirty
[submodule ".vim/bundle/ShowMarks"]
	path = .vim/bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
	ignore = dirty
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
	ignore = dirty
[submodule ".vim/bundle/Align.vim"]
	path = .vim/bundle/Align.vim
	url = https://github.com/vim-scripts/Align.vim.git
