[user]
	name = Hunter Haugen
	email = h.haugen@gmail.com
[color]
	ui = true
[alias]
	lg = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %s %C(cyan)%cr%C(reset) %C(green)%d%C(reset)' --graph"
