[user]
	name = Hunter Haugen
	email = h.haugen@gmail.com
[color]
	ui = true
[alias]
	lg = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(green)%d%C(reset)' --graph --date-order"
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	cmd = mvimdiff
	path = /Users/hunner/local/bin/mvimdiff
[core]
	excludesfile = /Users/hunner/.gitignore_global
[push]
	default = current
