noremap <Space> :
inoremap <C-c> <Esc>
inoremap <C-g> <Esc>
let mapleader = ","
" Use :actionlist [pattern] to find more actions
noremap <Leader>v :action SearchEverywhere<CR>
noremap <Leader>c :action ActivateTerminalToolWindow<CR>
noremap <Leader>bo :action CloseAllEditorsButActive<CR>
noremap <Leader>r :action RecentFiles<CR>
noremap <Leader>pre :action TogglePresentationMode<CR>
noremap <C-h> <C-w>h
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l
noremap - :action GotoNextError<CR>
noremap _ :action GotoPreviousError<CR>
noremap gq :action com.andrewbrookins.idea.wrap.WrapParagraphAction<CR>
noremap <Leader>pry odebugger;<Esc>
nnoremap <Return> :noh<CR>
set ignorecase
set smartcase
set showmatch
set hlsearch
set incsearch
